
body{
    margin:0px;
    text-align: center;
    height: 99vh;
    background: rgb(25,25,78);
    background: linear-gradient(259deg, rgba(25,25,78,1) 20%, rgba(52,52,101,1) 49%, rgba(5,8,55,1) 89%);
    background-repeat: no-repeat;   
    background-size: cover;
    overflow: hidden;

}
.context{
    max-width: 1060px; 
    padding: 0 20px;
    margin: auto; 
}
.container{
   width:325px;
   margin: 40px auto;
   padding: 40px;
    
}
.container h1{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
    text-transform: capitalize;
    color:white;
    padding: 20px;
    
}
.container input{
    box-shadow: none;
    padding: 11px;
    background: #fff;
    color: #484848;
    border: 1px solid #DDD;
    border-radius: 3px;
    font-size: 14px;
    
    line-height: 1.14285714;
    font-family: Inter,sans-serif;
    display: block;
    width: 300px;
    font-weight: 400;
    border-radius: 3px;
}
.container .btn{
    padding: 7px 16px;
    font-weight: 600;
    min-width: 80px;
    line-height: 1.14285714;
    font-size: 14px;
    text-transform: capitalize;
    width: 20px;
    margin: auto;
    color: rgb(255, 255, 255);
    background-color: purple;
    
}
